<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Users</title>
        <script src="./js/global.js"></script>
        <script src="./js/adminAccounts.js"></script>
        <link rel="stylesheet" href="./css/global.css">
    </head>
    <body>
        <ul>
            <li><button type="button" onclick="ChangePage('/adminHome')">Go Home</button></li>
        </ul>
        <h1>Manage Accounts</h1>
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </body>
</html>