<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/global.js"></script>
    <link rel="stylesheet" href="./css/home.css">
    <title>Admin Menu</title>
</head>
<body>
    
    <ul>
        <li><a onclick="ChangePage('/home')">Go Home</a></li>
        <li><a>Edit User Data</a></li>
        <li><a>View All Transactions</a></li>
        <li><a>View Storage Info</a></li>
        <li><a>View Providers Info</a></li>
        
    </ul>
    <h1> Welcome to the Admin Menu of the Warehouse Management System!</h1>
    <h2> Choose what action you would like to perform </h2>
</body>
</html>