<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/global.js"></script>
    <link rel="stylesheet" href="./css/cart.css">
    <title>View your cart!</title>
</head>
<body>
    
    <ul>
        <li><a onclick="ChangePage('/home')">Go Home</a></li>
        <li><a onclick="ChangePage('/previousTrans')">View Previous Transactions</a></li>
    </ul>
    <h2>Current Items in your cart:</h2>
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Product 1</td>
                <td>2</td>
                <td>$20.00</td>
            </tr>
        </tbody>
    </table>
</body>
</html>