<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="./js/global.js"></script>
        <script src="./js/cart.js"></script>
        <link rel="stylesheet" href="./css/global.css">
        <link rel="stylesheet" href="./css/cart.css">
        <title>Cart</title>
    </head>
    <body>
        <ul>
            <li><button type="button" onclick="ChangePage('/home')">Go Home</button></li>
            <li><button type="button" onclick="ChangePage('/transactionLog')">Previous Transactions</button></li>
        </ul>
        <h2>Current Items in your cart:</h2>
        <table>
            <thead>
                <tr>
                    <th>Item ID</th>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Borrowing</th>
                    <th>Price Per Unit</th>
                    <th>Total Price</th>
                    <th>Edit Item</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <div id="editItemPopup" class="modal">
            <div class="modal-content">
                <span class="close" onclick="ClosePopup('editItemPopup')">&times;</span>
                <div id="popup-content-placeholder"></div>
            </div>
        </div>

        <button type="button" onclick="CheckOut()">Checkout Cart</button>

        <div id="checkOutPopup" class="modal">
            <div class="modal-content">
                <span class="close" onclick="ClosePopup('checkOutPopup')">&times;</span>
                <div id="popup-content-placeholder"></div>
            </div>
        </div>

    </body>
</html>