<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="./js/global.js"></script>
        <script src="./js/favorites.js"></script>
        <link rel="stylesheet" href="./css/global.css">
        <link rel="stylesheet" href="./css/favorites.css">
        <title>Favorites</title>
    </head>
    <body>
        <ul>
            <li><button type="button" onclick="ChangePage('/home')">Go Home</button></li>
        </ul>
        <h2>Items in Favorites:</h2>
            <table>
            <thead>
                <tr>
                    <th>Favorite ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Item ID</th>
                    <th>Remove from Favorites</th>
                    <th>Add to Cart</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </body>
</html>
