<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="favorites.css">
    <title>Browse Favorites!</title>
</head>
<body>
    
    <ul>
        <li><a href="home.html">Go Home</a></li>
    </ul>
    <h2>Items in Favorites:</h2>
    
        <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    
</body>
</html>