<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Main Menu!</title>
</head>
<body>
    
    <ul>
        <li><a href="cart.html">View Cart</a></li>
        <li><a href="previousTrans.html">View Previous Transactions</a></li>
        <li><a href="favorites.html">View Favorites</a></li>
        <li><a href="warehouse.html">Browse Warehouse</a></li>
        <li><a href="admin.html">Admin Settings</a></li>
        <li><a href="changePass.html">Change Password</a></li>
    </ul>
    <h1> Welcome to the Main Menu of the Warehouse Management System!</h1>
</body>
</html>