<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="./js/global.js"></script>
        <script src="./js/home.js"></script>
        <link rel="stylesheet" href="./css/global.css">
        <link rel="stylesheet" href="./css/home.css">
        <title>Main Menu</title>
    </head>
    <body>
        <ul>
            <li><button type="button" onclick="ChangePage('/cart')">My Cart</button></li>
            <li><button type="button" onclick="ChangePage('/transactionLog')">Previous Transactions</button></li>
            <li><button type="button" onclick="ChangePage('/favorites')">My Favorite Items</button></li>
            <li><button type="button" onclick="ChangePage('/warehouse')">Browse Items</button></li>
            <li><button type="button" onclick="ChangePage('/account')">My Account</button></li>
        </ul>
        <h1 id="welcome">Welcome to the Main Menu of the Warehouse Management System!</h1>
    </body>
</html>