<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/home.css">
    <title>Main Menu!</title>
</head>
<body>
    
    <ul>
        <li><a href="/cart">View Cart</a></li>
        <li><a href="/previousTrans">View Previous Transactions</a></li>
        <li><a href="/favorites">View Favorites</a></li>
        <li><a href="/warehouse">Browse Warehouse</a></li>
        <li><a href="/admin">Admin Settings</a></li>
        <li><a href="/changePass">Change Password</a></li>
    </ul>
    <h1> Welcome to the Main Menu of the Warehouse Management System!</h1>
</body>
</html>