<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/previousTrans.css">
    <title>View your previous Transactions!</title>
</head>
<body>
    
    <ul>
        <li><a href="home.html">Go Home</a></li>
        <li><a href="cart.html">View Cart</a></li>
    </ul>
    <h2>Past Transactions:</h2>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>3/3/04</td>
                <td>Baby Doll</td>
                <td>1</td>
                <td>$200.00</td>
            </tr>
        </tbody>
    </table>
</body>
</html>