<!--What's the difference between the purpose of this page and the transactionLog.html page?-->
<!--I think we can just delete this and previousTransactions.css-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="./js/global.js"></script>
        <link rel="stylesheet" href="./css/previousTrans.css">
        <title>View your previous Transactions!</title>
    </head>
    <body>
        <ul>
            <li><a onclick="ChangePage('/home')">Go Home</a></li>
            <li><a onclick="ChangePage('/cart')">View Cart</a></li>
        </ul>
        <h2>Past Transactions:</h2>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>3/3/04</td>
                    <td>Baby Doll</td>
                    <td>1</td>
                    <td>$200.00</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>