<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Transaction History</title>
        <script src="./js/global.js"></script>
        <script src="./js/transactionLog.js"></script>
        <link rel="stylesheet" href="./css/global.css">
        <link rel="stylesheet" href="./css/transactionLog.css">
    </head>
    <body>
        <ul>
            <li><button type="button" onclick="ChangePage('/home')">Go Home</button></li>
            <li><button type="button" onclick="ChangePage('/cart')">View Cart</button></li>
        </ul>
        <h2>Past Transactions:</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Checkout Time</th>
                    <th>Expected Delivery</th>
                    <th>Return Borrowed Item By</th>
                    <th>Borrow State</th>
                    <th>Total Cost</th>
                    <th>Items</th>
                </tr>
            </thead>
            <tbody id="transactions">
            </tbody>
        </table>

        <div id="popup" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closePopup()">&times;</span>
                <div id="popup-content-placeholder"></div>
                <table>
                    <thead>
                        <tr>
                            <th>Item ID</th>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Borrowing</th>
                            <th>Checked Out</th>
                            <th>Price Per Unit</th>
                            <th>Total Price</th>
                        </tr>
                    </thead>
                    <tbody id="items">
                    </tbody>
                </table>
            </div>
        </div>
        
    </body>
</html>