<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="./js/global.js"></script>
        <script src="./js/warehouse.js"></script>
        <link rel="stylesheet" href="./css/global.css">
        <link rel="stylesheet" href="./css/warehouse.css">
        <title>Warehouse</title>
    </head>
    <body>
        <ul>
            <li><button type="button" onclick="ChangePage('/home')">Go Home</button></li>
            <li><button type="button" onclick="ChangePage('/cart')">My Cart</button></li>
        </ul>
        <h2>Items in Warehouse:</h2>
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <!--To be populated on page load-->
                <!--NOTE: look at adminLog.js to see how to dynamically add rows from the database-->
                <tr>
                    <td>Baby Doll</td>
                    <td>1</td>
                    <td>$200.00</td>
                    <td><button>Add to Favorites</button></td>
                    <td><button>Add to Carts</button></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>