<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="warehouse.css">
    <title>Browse the Warehouse!</title>
</head>
<body>
    
    <ul>
        <li><a href="home.html">Go Home</a></li>
        <li><a href="cart.html">View Cart</a></li>
    </ul>
    <h2>Items in Warehouse:</h2>
    <!--
    <?php include("warehouse.php"); ?>
    -->
    
        <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    
</body>
</html>